.DS_Store
.idea
.vscode
__pycache__/
assets
checkpoints
co-tracker
*.png
demo_data
debug_output
input_data
outputs
logs
pack_data_for_baselines
*.so
*.py[cod]
*.egg-info/
build/
dist/
**/.cache/
**/stage3_checkpoint.pt